<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhir-lab.ZPM">
    <Module>
      <Name>iris-fhir-lab</Name>
      <Version>1.0.4</Version>
      <Description>InterSystems FHIR LAB to View FHIR resources</Description>
      <Keywords>FHIR,Server</Keywords>
      <Packaging>module</Packaging>
    <SourcesRoot>src</SourcesRoot>
    <Resource Name="dc.PKG"/>
    <Resource Name="Solution.PKG"/>
    <Resource Name="SolutionPRD.PKG"/>
    <FileCopy Name="python/" Target="${mgrdir}python/"/>   
    <Invoke Class="Solution.Install" Method="Run"></Invoke>
    <Invoke Class="dc.FhirLab.Client" Method="Init"></Invoke>
      <CSPApplication
        Url="/csp/fhirlab"
        Path="/src/csp"
        Directory="{$cspdir}/fhirlab"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/csp/fhirlab/" 
        UseCookies="2"
        MatchRoles=":{$dbrole}" 
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
       />    

    <Invoke Class="Ens.Director" Method="SetAutoStart">
         <Arg>SolutionPRD.FoundationProduction</Arg>
    </Invoke>      
    </Module>
  </Document>
</Export>
